/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/
/allure-results/
/.allure/
/target/
/src/test/resources/webdrivers/linux/
/src/test/resources/webdrivers/mac/
/src/test/resources/webdrivers/windows/


